*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: beige;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.todolist{
    margin-top: 80px;
}
input{
    margin: 10px;
    width: 280px;
    height: 40px;
    border: 1px solid gray;
}
input[type=text]{
    padding: 0 5px;
}
button{
    margin: 5px;
    padding: 10px 40px;
    background-color: green;
    border: 1px solid green;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
form{
    margin-top: 50px;
}